<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

<!-- <LayoutSnippet> -->
  
<div class="jumbotron">
  <h1>Calendar</h1>
  <mgt-agenda></mgt-agenda>
</div>
<!-- </LayoutSnippet> -->
