<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

<!-- <IndexSnippet> -->
<div class="jumbotron">
  <h1>Node.js Graph Tutorial</h1>
  <p class="lead">This sample app shows how to use the Microsoft Graph API to access a user's data from Node.js</p>
  <mgt-person person-query="me">
    <template data-type="no-data">
      Please sign in
    </template>
    <template data-type="default">
      <h4>Welcome!</h4>
      <mgt-person person-query="me" view="twoLines" person-card="hover"></mgt-person>
      <p class="user-get-started">Use the navigation bar at the top of the page to get started.</p>
    </template>
  </mgt-person>  
</div>
<!-- </IndexSnippet> -->