<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

<!-- <LayoutSnippet> -->
  
<div class="jumbotron">
  <h1>Tasks</h1>
  <mgt-tasks read-only data-source="todo"></mgt-tasks>
</div>
<!-- </LayoutSnippet> -->
